.comment {
    margin: 1rem;
}

.commentTitle {
    display: flex;
    flex-wrap:wrap;
    padding: 0.5rem;
}

.username {
    flex: 1 1 50%;
    flex-direction: column;
}

.content {
    justify-content: left;
    padding: 0.5rem;
}