.commentBottom {
    margin-left: 3rem;
}

.likes {
    cursor: pointer;
    position: relative;
    height: calc(1.3rem + 0.07rem);
}

.likes svg {
    position: absolute;
    bottom: 0;
}

.likes p {
    position: absolute;
    left: calc(1.3rem + 0.2rem);
    margin: 0;
}
