.commentBottom {
    margin-left: 3rem;
}

.commentBottomOwn {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: max(-15vw, -12.5rem);
}

.commentBottomElement {
    cursor: pointer;
    position: relative;
    height: calc(1.3rem + 0.07rem);
}

.commentBottomElement svg {
    position: absolute;
    bottom: 0;
}

.commentBottomElement p {
    position: absolute;
    left: calc(1.3rem + 0.2rem);
    margin: 0;
}
