.comment {
    margin: 1rem 1rem 0.3rem;
    border-radius: 1rem;
    overflow-wrap: break-word;
}

.commentTitle {
    display: flex;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    height: 1.5rem;
}

.username {
    flex: 1;
    flex-direction: column;
    font-weight: bold;
    margin-block-end: 0;
}

.content {
    justify-content: left;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 1rem;
}

.edit textarea {
    margin-top: 1rem;
    border: none;
    background-color: #cdf4e5;
}

.edit button {
    margin-left: 3rem;
    border: none;
}